

<div>
  <h3>Settings</h3>
</div>
<form [formGroup]="form">
  <div class="form-group">
    <label for="search">NewsAPI.org</label>
    <input type="text" placeholder="Enter API from newsapi.org" class="form-control" formControlName="apiKey">
  </div>


  <div class="row mt-3 mb-3">
    <div>
        <button type="button"  class="btn btn-warning" >Back</button>
    </div>
    <div>
      <button type="button" class="btn btn-danger" [disabled]="form.invalid" >Delete</button>
  </div>
  <div class="col d-flex justify-content-end align-items-center">
    <button type="button" class="btn btn-primary" [disabled]="form.invalid" 
     (click)="saveAPI()" >
      Add
    </button>
  </div>
  </div>

</form>



  

  

  
